@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Saira', sans-serif;
  color: white;
  background: black;
}

.card{
  display: grid;
  grid-auto-flow: dense; 
}

.det-reverse {
  grid-column: auto;
  grid-row: auto;
}

@media screen and (min-width: 1024px) {
  .det-reverse {
    grid-column: 1;
    grid-row: 1;
  }
}