@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Saira', sans-serif;
  color: white;
  background: black;
}

.card{
  display: grid;
  grid-auto-flow: dense; 
}

.card > .det-reverse {
  grid-column: 1;
  grid-row: 1;
}